{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container" style="height:100vh">
  <div class="row justify-content-center h-100">
      <div class="col align-self-center text-center card my-3 " style="max-width: 35rem; height: 30rem; background-color: #dde7e7;">
        <div class="card-header row justify-content-center"><h1 style="font-family: 'Staatliches', cursive;">Vicente's Blog</h1></div>
        <div class="card-body" style="background-color: #dde7e7;">
        <h1 class="card-title mb-4">Sign Up</h1>
        <p>{% blocktrans %}이미 계정이 있다면 <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="login" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
              </div>
              <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            {% endif %}
            <button class="btn btn-outline-info mb-3" type="submit">Sign Up</button>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}