{% extends 'blog/base_full_width.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Edit Comment - Blog{% endblock %}

{% block main_area %}
    <h1>Edit Comment</h1>
    <hr/>
    <form method="post" id="comment-form">{% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
{% endblock %}

{% block foot_area %}
<footer class="py-3 bg-dark fixed-bottom" id="foot">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
</footer>
{% endblock %}