<!-- Footer-->
{% if post_list %}
    {% if post_list|length < 2 %}
    <footer class="py-3 bg-dark fixed-bottom">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
    </footer>
    {% else %}
    <footer class="py-3 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
    </footer>
    {% endif %}
{% else %}
<footer class="py-3 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
</footer>
{% endif %}