{% extends 'blog/base.html' %}

{% block main_area %}

    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <a class="btn btn-info btn-sm float-right" href="/blog/create_post/" role="button"><i class="fas fa-pen"></i>&nbsp;&nbsp;New Post </a>
        {% endif %}
    {% endif %}

    <h1 style="margin-bottom: 30px;">Blog
        {% if search_info %}<small class="text-muted">{{search_info}}</small>{%endif%}
        {% if category %}<span class="badge badge-secondary">{{ category }} </span> {% endif %}
        {% if tag %}<span class="badge badge-light"><i class="fas fa-tags"></i>{{ tag }} ({{ tag.post_set.count }})</span>{% endif %}
    </h1>

    {% if post_list %}
        {% for post in post_list %}
        <div class="row" style="display: flex; justify-content: space-between;">
            {% for p in post %}
            <div class="card mb-4 enlarge" id="post-{{ p.pk }}" style="max-height: 500px; width: 410px">
                {% if p.head_image %}
                    <a href="{{ p.get_absolute_url }}"><img class="card-img-top mt-3" src="{{ p.head_image.url }}" alt="..." style="height: 200px; width:410px"/></a>
                {% else %}
                    <a href="{{ p.get_absolute_url }}"><img class="card-img-top mt-3" src="https://picsum.photos/seed/{{ p.pk }}/410/200" alt="..." style="max-height: 200px;"/></a>
                {% endif %}

                <div class="card-body">
                    {% if p.category %}
                        <span class="badge badge-secondary float-right">{{ p.category }}</span>
                    {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}
                    <h4 class="card-title">{{ p.title }}</h4>
                    {% if p.hook_text %}
                        <h6 class="text-muted">{{ p.hook_text }}</h6>
                    {% endif %}

                    <div class="mt-5" style="display: flex;">
                    {% if p.tags.exists %}
                        <i class="fas fa-tags" style="width: 16px; height: 9px;"></i>
                        {% for tag in p.tags.iterator %}
                            <a href="{{ tag.get_absolute_url }}"><span class="badge badge-pill badge-light">{{ tag }}</span> </a>
                        {% endfor %}

                    {% endif %}

                    <a href="{{ p.get_absolute_url }}" class="btn-sm btn-primary" style="margin-left: auto;">Read More &rarr;</a>
                    </div>
                </div>

                <div class="card-footer text-muted" style="background-color: #fff">
                    {{ p.created_at }}
                    <br/>
                    <a href="#" class="text-dark" style="font-size: 15px;">by {{ p.author | lower }}</a>

                    <span class="float-right" style="font-size: 15px;">
                        <i class="far fa-thumbs-up"></i> {{p.good.count}}
                            &nbsp;&nbsp;
                        <i class="fas fa-comments"></i> {{p.comment_set.count}}
                        &nbsp;
                        <span class="badge badge-pill badge-gray"> view &nbsp;{{p.view_cnt}}</span>

                    </span>
                </div>
            </div>
            {% endfor %}
             </div>
        {% endfor %}

    {% else %}
        <h3 class="my-5">아직 게시물이 없습니다.</h3>
    {% endif %}



    <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ 1 }}" tabindex="-1">First</a></li>
            {% if 5 < page_obj.number %}
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            {% endif %}
            {% else %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1">First</a></li>
            {% endif %}

            {% for page in page_range %}
            {% if page_obj.number == page %}
            <li class="page-item active" aria-current="page"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            {% if page_obj.paginator.num_pages not in page_range %}
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1">Last</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1">Last</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}


{% block foot_area %}
{% if post_list %}
{% if post_list|length < 2 %}
<footer class="py-3 bg-dark fixed-bottom" id="foot">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
</footer>
{% else %}
<footer class="py-3 bg-dark" id="foot">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
</footer>
{% endif %}
{% else %}
<footer class="py-3 bg-dark fixed-bottom" id="foot">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; vicente</p></div>
</footer>
{% endif %}

<script>
    function searchPost(){
        let searchValue = document.getElementById('search-input').value.trim()
        if (searchValue.length > 1){
            location.href="/blog/search/" + searchValue + "/";
        }
        else if(searchValue.length == 0){
            location.href="/blog/";
        }
        else{
            alert('검색어('+searchValue+')가 너무 짧습니다.')
        }
    };


    document.getElementById('search-input').addEventListener('keyup', function(event){
        if(event.key == 'Enter'){
            searchPost();
        }
    })
</script>
{% endblock %}
